<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title='Registration Page 3')"></head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form method="post" th:object="${registerModel}">
					<h1>Confirm Details (Stage 3)</h1>
					<hr />
					<a th:href="@{'~' + ${flowExecutionUrl} + '&_eventId_home'}" class="btn btn-danger">Home</a>
	
					<div class="row">
						<div class="col-md-6">
							<h2>Personal Info</h2>
							<p>
								<img class="img-fluid" th:src="@{'data:image/png;base64,'+${registerModel.personalInfo.getImageBase64()}}" />
							</p>
							<p th:text="${registerModel.personalInfo.username}"></p>
							<p th:text="${registerModel.personalInfo.firstname}"></p>
							<p th:text="${registerModel.personalInfo.lastname}"></p>
							<button type="submit" class="btn btn-warning" name="_eventId_personal">&laquo; Goto Personal</button>					
						</div>
						<div class="col-md-6">
							<h2>Billing Info</h2>
							<p th:text="${registerModel.billingInfo.address}"></p>
							<button type="submit" class="btn btn-warning" name="_eventId_billing">&laquo; Goto Billing</button>
						</div>
					</div>
			        <div class="alert alert-danger" th:if="${!#arrays.isEmpty(flowRequestContext.messageContext.getMessagesBySource('registration'))}">
			        	<span th:each="err : ${flowRequestContext.messageContext.getMessagesBySource('registration')}" th:text="${err.text}"></span>
		        	</div>
					<button type="submit" class="btn btn-success" name="_eventId_submit">Register &raquo;</button>
				</form>				
			</div>
		</div>
	</div>
	<script th:replace="fragments/scripts :: scripts"></script>
</body>

</html>